{% extends 'base_layout_clean.html' %}

{% block title %}<title>Dipesh Pal - Login</title>{% endblock %}

{% block active_login %} class="nav-item active" {% endblock %}

{% block content %}
<!--    {% block col %}  class="col-sm-12" {% endblock %}-->
<div class="container">
            <form class="form-style" method="post">
                <h2>Log in</h2>
                <hr>
                {% csrf_token %}
                {{ form.as_p }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <!--<input type="submit" value="Login">-->
                <button type="submit" class="btn btn-primary">Login</button>
                <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
            </form>
            <p>By login you are accepting all our <a href="/disclaimer/disclaimer.html">Terms and Conditions</a></p>

</div>

{% endblock %}
