{% extends 'base_layout_clean.html' %}

{% block title %}<title>Dipesh Pal - Forgot Password</title>{% endblock %}

{% block content %}
<div class="container" style="margin: 10%">
    <div class="row row-centered">
        <div class="col-xs-8 col-centered">
            <form class="form-style" method="post">
                <h1>Forgot your password?</h1>
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Send me instructions!">
                <p><b>If your have any trouble then you can mail us on <span>noreplydipeshpal@gmail.com</span></b></p>
            </form>
      </div>
    </div>
</div>
{% endblock %}
