{% extends 'base_layout_clean_3.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<!--    {% block col %}  class="col-sm-12" {% endblock %}-->
<div class="container" style="margin: 10%">
    < class="row row-centered">
            <form class="form-style" method="post">
              <h1>Set a new password!</h1>
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" class="btn btn-primary" value="Change my password">
            </form>
    </div>
</div>
{% endblock %}
