{% extends 'base_layout_clean.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="container" style="margin: 10%">
    <div class="row row-centered">
        <div class="col-xs-8 col-centered">
            <form class="form-style" method="post">
              <h1>Set a new password!</h1>
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" class="btn btn-primary" value="Change my password">
            </form>
        </div>
    </div>
</div>
{% endblock %}
