{% extends 'base_layout_clean.html' %}

{% block active_about %} class="nav-item active" {% endblock %}

{% block content %}
<!--    {% block col %}  class="col-sm-12" {% endblock %}-->
        <div class="jumbotron">
                <h1 style="text-align: center">About Us</h1>
                <p>This is the one of the leading independent digital media delivering Tech content to
                        several million people every month.
                </p>
                <h2>Network-</h2>
                        <p>Our global, cross-platform network includes our Website and YouTube, Instagram, Facebook
                                and many other digital platforms. We have the innovation obsessed culture and structure
                                of a media company with an engineering team focused on building the media platform for
                                today’s world, and the future.
                        </p>

                <h2>Audience-</h2>
                        <p>We strive to connect deeply with our audience, through simple relatable and informative
                                Tech Content that worth sharing with their friends, family, and the people who matter in their lives.
                        </p>

                <h2>Content-</h2>
                        <p>Our greatest hits connect with people on a massive scale, and play a significant role in
                                connecting people to new technology. We are best known for Cool Apps, Mobile Gadgets,
                                Coding and Scripts, Machine Learning, Latest Tech Talks, Photography tricks and Mobile reviews.
                        </p>

                <h2>We are on Social-</h2>
                    <i class="fab fa-youtube"><a style="color: #1b1e21" href="https://www.youtube.com/channel/UCGEoRAK92fUk2kY3kSJMR_Q?view_as=subscriber"> YouTube</a></i>
                    <i class="fab fa-instagram"><a style="color: #1b1e21" href="https://www.instagram.com/dipesh_pal17/"> Instagram</a></i>
                    <i class="fab fa-facebook"><a style="color: #1b1e21" href="https://www.facebook.com/dipeshpal17/">  Facebook</a></i>
                    <i class="fab fa-twitter"><a style="color: #1b1e21" href="https://twitter.com/Dipesh17pal">  Twitter</a></i>
                    <i class="fab fa-linkedin-in"><a style="color: #1b1e21" href="https://www.linkedin.com/in/dipesh-pal-a34952110/">  Linkedin</a></i></div>
        </div>
{% endblock %}
