{% load static from staticfiles %}

<html lang="en">
  <head>
    {% block title %}<title>Dipesh Pal</title>{% endblock %}
    <link rel="shortcut icon" href="https://i.ibb.co/yBcV3jY/00013850.png" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <!-- Youmax CSS and JS -->
    <link rel="stylesheet" href="https://rawcdn.githack.com/Dipeshpal/Dipesh_Pal_Django_Website_2.0/037067930b047be09afe21decf0233e1660d7e85/Dipesh_Pal/assets/css/youmax.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://rawcdn.githack.com/Dipeshpal/Dipesh_Pal_Django_Website_2.0/037067930b047be09afe21decf0233e1660d7e85/Dipesh_Pal/assets/js/youmax.js"></script>

    <!---- Ad ----->
    <script type="text/javascript">
        window._mNHandle = window._mNHandle || {};
        window._mNHandle.queue = window._mNHandle.queue || [];
        medianet_versionId = "3121199";
    </script>
    <script src="//contextual.media.net/dmedianet.js?cid=8CU58EU51" async="async"></script>

    {% block head_extra %} {% endblock head_extra%}
  </head>

  <!----- Navigation Bar ----->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
<!--        <a class="navbar-brand" href="/"><i>DP</i></a>-->
        <a href="/"><img style="width: 10%; margin: 2%; margin-top: 4%" src="https://i.ibb.co/yBcV3jY/00013850.png"></a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="myNavbar">

        <ul class="nav navbar-nav">
          <li {% block active_home %}  {% endblock %}><a href="/">Home</a></li>
          <li {% block active_videos %}  {% endblock %}><a href="/videos/videos.html">Videos</a></li>
          <li {% block active_about %}  {% endblock %}><a href="/about/about.html">About</a></li>
        </ul>

        {% if user.is_authenticated %}
         {% if user.is_staff %}
         <ul class="nav navbar-nav">
           <li {% block articleCreateli %} {% endblock %}><a href="/create/"><span class="glyphicon glyphicon-pencil"></span> Create New Article</a></li>
         </ul>
         {% endif %}

          <ul class="nav navbar-nav">
            <li  {% block active_profile %}  {% endblock %}><a href="/accounts/profile/"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li  {% block active_logout %}  {% endblock %}><a href="/accounts/logout/"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
          </ul>
          {% else %}
           <ul class="nav navbar-nav">
              <li  {% block active_login %}  {% endblock %}><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           </ul>
           <ul class="nav navbar-nav">
              <li  {% block active_signup %}  {% endblock %}><a href="/accounts/signup/"><span class="glyphicon glyphicon-user"></span> Signup</a></li>
           </ul>
        {% endif %}

      </div>
    </div>
  </nav>
  <!----- Navigation Bar End----->
<body>


<!---- Sub Navigation Bar START----->
<br><br><br>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
<!--        <a class="navbar-brand" href="/">Logo</a>-->
      </div>

        <div class="collapse navbar-collapse navbar-left" id="myNavbar2">
        <!----- Menu ----->
        <ul class="nav navbar-nav">
          <li {% block active_all_cat %} {% endblock %} ><a href="/">All</a></li>
          <li {% block active_android_cat %} {% endblock %}><a href="/Android">Android</a></li>
          <li {% block active_pc_cat %} {% endblock %}><a href="/PC">PC</a></li>
          <li {% block active_news_cat %} {% endblock %}><a href="/News">News</a></li>
          <li {% block active_ml_cat %} {% endblock %}><a href="/MachineLearning">Machine Learning</a></li>
          <li {% block active_offers_cat %} {% endblock %}><a href="/Offers">Offers</a></li>
          <li {% block active_others_cat %} {% endblock %}><a href="/Others">Others</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!---- Sub Navigation Bar END----->


<main>
  <div class="container-fluid text-center" style="margin-top: 1%">
    <div class="row content">

      {% block left_sidebar %}
          <!----- Left Sidebar ----->
          <div class="col-sm-2 sidenav">
          </div>
          <!----- Left Sidebar End----->
      {% endblock %}


      <!----- Mid Block----->
      <div {% block col %}  class="col-sm-8" {% endblock %} >
        {% block content %}
          <!----- Pagination ----->
          {% block pagination %}{% endblock %}
          <!----- Pagination End----->
        {% endblock %}
      </div>
      <!----- Mid Block----->


      {% block right_sidebar %}
        <!----- Right Sidebar ----->
        <div class="col-sm-2 sidenav">
          <div>
            <h4>Our Social Stats-</h4>
            <p><a href="https://www.youtube.com/channel/UCGEoRAK92fUk2kY3kSJMR_Q?view_as=subscriber" class="fa fa-youtube"></a> 10K+ Subscriber</p>
            <p><a href="https://www.instagram.com/dipesh_pal17/" class="fa fa-instagram"></a> 350+ Followers</p>
            <p><a href="https://www.facebook.com/dipeshpal17/" class="fa fa-facebook"></a> 500+ Followers</p>
            <p><a href="https://twitter.com/Dipesh17pal" class="fa fa-twitter"></a> 80+ Followers</p>
          </div>
        </div>
        <!----- Right Sidebar End----->
      {% endblock %}

    </div>

  </div>
</main>

</body>

    <!----- Footer ----->

        <!----- Footer Content ----->
        <div style="text-align: center; color: white; background: #030303">
            <a href="/contact_us/contact_us.html">Contact Us</a>
            <a href="/disclaimer/disclaimer.html">Disclaimer and Terms & Conditions</a>
            <a href="/privacy_policy/privacy_policy.html">Privacy Policy</a>

            <p>Copyright © Dipesh Pal 2019-2020. All Rights Reserved</p>
        </div>
        <!----- Footer Content End----->

        <!----- Scripts and CSS----->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


            <!----- Markdown ----->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.7.0/marked.min.js"></script>
            <script type="text/javascript">
              $(document).ready(function(){
                    $(".content-markdown").each(function(){
                        var content = $(this).text()
                        console.log(content)
                        var markedContent = marked(content)
                        console.log(markedContent)
                        $(this).html(markedContent)
                     })

                    $(".content-markdown img").each(function(){
                        $(this).addClass("img-responsive")
                     })
                })
          </script>
            <!----- Markdown End----->

            <!---------- Custom Css ---------->
<!--            <link href="https://rawcdn.githack.com/Dipeshpal/Dipesh_Pal_Django_Website_2.0/037067930b047be09afe21decf0233e1660d7e85/Dipesh_Pal/assets/css/custom_css_header_and_body.css" rel="stylesheet">-->
            <link href="{% static "css/custom_css_header_and_body.css" %}" rel="stylesheet">
            {% for comment in comments %}
            <script>
                function hide_reply_option_{{ comment.id }}(){
                      var x = document.getElementsByClassName("hideDiv{{ comment.id }}")[0];
                      if (x.style.display === "block") {
                        x.style.display = "none";
                      } else {
                        x.style.display = "block";
                      }
                    }
            </script>
            {% endfor %}


        <!----- Scripts and CSS End----->

    <!----- Footer End ----->
</html>
