{% extends 'base_layout_new.html' %}

{% block left_sidebar %}{% endblock %}

{% block content %} {% endblock %}

{% block right_sidebar %}
    <!---- AD ---->
    <div id="unit-01-right">
      <script>var w=window;for(i=0;i<10;i++){w=w.parent;if(w.pbjs){try{w.pbjs.renderAd(document,'%%PATTERN:hb_adid%%');break;}catch(e){continue;}}}</script>
    </div>
    <script src="//ap.lijit.com/www/delivery/fpi.js?z=719227&width=300&height=600"></script>
    <script src="//ap.lijit.com/www/delivery/fpi.js?z=719226&width=300&height=250"></script>
    <!---- AD ---->
{% endblock %}
