html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: #F6F7F8;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding: 0%;
}
#body {
   /*padding:10px;*/
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

.container {
  border-radius: 10px;
  /*background: #ffffff;*/
  color: #525252;
}

.container2 {
  border-radius: 10px;
  background: #ffffff;
  color: #525252;
}

.container_comment {
  border-radius: 10px;
  background: white;
  color: #525252;
  width: auto;
}

.sidenav {
  padding-top: 20px;
  background-color: #F6F7F8;
  height: 100%;
  color: black;
}

.jumbotron {
  align-items: center;
  background-color: #ffffff;
  color: #1c1c1c;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
    background-color: #ffffff;
    /*border: 1px solid #ddd;*/
}

.col-left {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    background-color: #ffffff;
    /*border: 1px solid #ddd;*/
}

.sub-nav{
    margin: 2%;
    background: #00dba0;
}

/* article */
.article-detail{
    padding: 2%;
    text-align: left;
}

.article-border{
    padding: 2%;
    margin: 2%;
    background: white;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
    postion: relative;
}

/* Text Typing Area*/
.wmd-button-row{
    padding: auto;
}

.wmd-panel{
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    min-width: 100%;
}


/* form */
.form-style{
    background: white;
}


.site-form{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #252526;
    padding: 50px;
    color: black;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 2%;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.helptext, helptext ul{
    margin: 0 auto 10px;
    color: #252526;
    font-size: 0.9em;
    display: block;
}
.signup-text{
    text-align: center;
    color: #39393a;
}
.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}
.errorlist{
    padding: 0;
}


.site-form input[type=submit]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
}

.card-custom {
    width: auto;
    height: 40%;
    background: white;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.fa:hover {
  opacity: 0.7;
  color: grey;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    margin-top: 8%;
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}


@media screen and (max-width: 480px) {
    .site-form {
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        border: 2px solid #252526;
        padding: 2px;
        color: black;
    }

    .card-custom {
    width: auto;
    height: auto;
    background: white;
}

    .site-form input, .site-form textarea {
        display: block;
        margin: 5px 0 0 0;
        padding: 5px;
        width: 100%;
    }

    .helptext, helptext ul {
        margin: 0 auto 10px;
        color: #252526;
        font-size: 0.9em;
        display: block;
    }

    .signup-text {
        text-align: center;
        color: #39393a;
    }

    .errorlist li {
        padding: 10px;
        list-style-type: none;
        border: 1px solid #ff5722;
        color: #ff5722;
        margin: 10px 0;
    }

    .right-sidebar-container{
        margin-bottom: 40%;
    }

    /*.mid-bar { order: 3; }*/
    /*.left-sidebar {order: 3;}*/
    /*.right-sidebar {order: 3;}*/

    .errorlist {
        padding: 0;
    }

    .site-form input[type=submit] {
        background: #00dba0;
        border: 0;
        color: #fff;
        font-size: 1.2em;
        border-radius: 4px;
        margin: 10px 0;
        cursor: pointer;
    }

    #body {
        padding:10px;
        padding-bottom:60px;   /* Height of the footer */
    }


}

