{% extends 'base_layout_clean.html' %}


{% block content %}
<!--    {% block col %}  class="col-sm-12" {% endblock %}-->

    <div class="container" style="margin: 10%; padding: 2%">
<!--        <div class="row row-centered">-->
<!--            <div class="col-xs-8 col-centered" style="margin: 2%">-->

                {% if user.is_authenticated%}
                    {% if user.is_staff %}
                    <ul>
                      <a href="edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update</a>
                      <a href="delete" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Delete</a>
                    </ul>
                    {% endif %}
                {% endif %}

                <h2>{{ article.title }}</h2>
                <img width="50%" height="50%" class="article-image" src="{{ article.thumb.url }}"/>
                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_email"></a>
                    <a class="a2a_button_linkedin"></a>
                    <a class="a2a_button_whatsapp"></a>
                    <a class="a2a_button_telegram"></a>
                    <a class="a2a_button_pinterest"></a>
                    <a class="a2a_button_skype"></a>
                    <a class="a2a_button_sms"></a>
                    <a class="a2a_button_google_gmail"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>

                <div class="article-detail">
                    <p class="content-markdown">{{ article.body }}</p>
                    <p>-{{ article.author }}, {{ article.date }}</p>
                </div>

    <br><hr><br>
    <h4 style="text-align: left">Comment-</h4>
    <form class="article-border article-detail" action="." method="post" style="color: black; text-align: left">
        <p>Name: {{ comment_form.Name }}</p>
        <p>Email: {{ comment_form.Email }}</p>
        <p>Comment: {{ comment_form.Body }}</p>
        {% csrf_token %}
        <button type="submit" value="Submit">Add Comment</button>
    </form>

    <div style="text-align: left">
    {% for comment in comments %}
        <div class="container_comment" style="padding: 1%; background: #4d4f51; color: white">
            <b>By- {{ comment.Name }} | {{ comment.Created }}</b>
            <p>{{ comment.Body }}</p>

        {% for reply in comment.replies.all %}
            <div class="container_comment" style="padding: 1%; background: #5f6163; color: white">
                <p>Reply by- {{ reply.Name }}</p>
                <p>{{ reply.Body }}</p>
            </div>
        {% endfor %}
        </div>

        <button onclick="hide_reply_option()">Click Me</button>
        <div style="display: none" class="hideDIV">
            <form class="article-border article-detail" action="." method="post" style="color: black; text-align: left">
                <p>Name: {{ comment_form.Name }}</p>
                <p>Email: {{ comment_form.Email }}</p>
                <p>Comment: {{ comment_form.Body }}</p>
                {% csrf_token %}
                <input type="hidden" name="Parent_id" value="{{ comment.id }}">
                <button type="submit" value="Submit">Add Reply</button>
            </form>
        </div>




    {% empty %}
    <h4>There is no comment...</h4>

    {% endfor %}
    </div>

    </div>
{% endblock %}
