{% extends 'base_layout_clean.html' %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block content %}
<!--    {% block col %}  class="col-sm-12" {% endblock %}-->

<div class="container" style="margin-bottom: 20%">
        <h1>Article Edit</h1>
        <form class="article-border article-detail" action="post_edit" method="post" enctype="multipart/form-data">
            <h2>Update your article</h2>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Update">
        </form>
</div>
{% endblock %}
