{% extends 'base_layout_new.html' %}
{% load cloudinary %}
{% block active_android_cat %} class="active" {% endblock %}


{% block content %}

<div class="row">
 {% for article in articles %}
    {% if article.category == 'MACHINE LEARNING' %}
    <div class="col-sm-4" style="margin: 0px; padding: 0px">
            <div class="view overlay">
                <a href="{% url 'home:detail' slug=article.slug %}">
                <img style="object-fit: cover; width: 500px; height: 200px" class="img-fluid " alt="smaple image" {%cloudinary article.thumbnail%}
                <div class="mask flex-center rgba-black-strong">
                    <p class="white-text">{{ article.title }}</p>
    <!--                <p class="text-muted">{{ article.date | date:"F d, Y" }}</p>-->
    <!--                <p style="color: #333333">Category: {{ article.category }} <a class="mr-2" href="{% url 'home:detail' slug=article.slug %}"></a>-{{ article.author }}</p>-->
                </div>
                </a>
            </div>
    </div>
    {% endif %}
 {% endfor %}
</div>

{% block pagination %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if articles.has_previous %}
        <li class="page-item">
          <a class="page-link btn-primary" href="?page={{ articles.previous_page_number }}">Previous</a>
        </li>
      {% endif %}

      <span class="current">
         <li class="page-item active"><a class="page-link">Page {{ articles.number }} of {{ articles.paginator.num_pages }}  </a></li>
      </span>

      {% if articles.has_next %}
        <li class="page-item">
          <a class="page-link btn-primary" href="?page={{ articles.next_page_number }}">Next</a>
        </li>
      {% endif %}
  </ul>
</nav>

{% comment %}
    <div style="text-align: center">
       <nav aria-label="...">
          <ul class="pagination">
              <li class="page-item disabled">
                  <span class="page-link">
                      {% if articles.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                          <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">previous</a></li>
                      {% endif %}

                      <span class="current">
                          <li class="page-item active"><a class="page-link">Page {{ articles.number }} of {{ articles.paginator.num_pages }}  </a></li>
                      </span>

                      {% if articles.has_next %}
                          <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">next</a></li>
                          <li class="page-item"><a class="page-link" href="?page={{ articles.paginator.num_pages }}">last &raquo;</a></li>
                      {% endif %}
                  </span>
          </ul>
       </nav>
    </div>

{% endcomment %}

{% endblock %}

{% endblock %}

