{% extends 'base_layout_clean_3.html' %}

{% block title %}<title>Dipesh Pal - Change Password</title>{% endblock %}

{% block active_profile %} class="active" {% endblock %}

{% block content %}
<!--    {% block col %}  class="col-sm-12" {% endblock %}-->
       <div class="container" style="margin: 10%">
               <div class="col-xs-8 col-centered">
                   <h1>Change Password</h1>
                   <hr>
                    <form class="form-style" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Submit</button>
                    </form>
                </div>
   </div>
{% endblock %}
