{% extends 'base_layout_clean_3.html' %}

{% block title %}<title>Dipesh Pal - Edit_Profile</title>{% endblock %}

{% block active_profile %} class="active" {% endblock %}

{% block content %}
<!--    {% block col %}  class="col-sm-12" {% endblock %}-->
<div class="container" style="margin: 10%">
        <div class="col-xs-8 col-centered">
            <h1 class="glyphicon glyphicon-user"> Edit Profile</h1>
            <hr>
            <form class="form-style" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ p_form.as_p }}
                <button type="submit">Submit</button>
            </form>
            <b><p>Change Password: <a href="/accounts/change_password/">Click Here</a></p></b>
        </div>
</div>
{% endblock %}
