{% extends 'base_layout_clean.html' %}

{% block title %}<title>Dipesh Pal - Profile</title>{% endblock %}

{% block active_profile %} class="active" {% endblock %}

{% block content %}
<div class="container" style="margin: 10%">
    <div class="row row-centered">
        <div class="col-xs-8 col-centered">
            <h1 class="glyphicon glyphicon-user"> Profile</h1>
            <hr>
            <p>User Name: {{ user }}</p>
            <p>First Name: {{ user.first_name}}</p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p><b>Edit Profile: <a href="/accounts/edit_profile/">Click here</a></b></p>
            <p><b>Change Password: <a href="/accounts/change_password/">Click Here</a></b></p>
            <p style="color: #0F0F0F"><b>You can be author for our website:</b> Just fill this form <a href="/accounts/apply/">Click here</a></p>
        </div>
    </div>
</div>
{% endblock %}
